/****** General ***********/
/********************************************************************************START DESKTOP******************************************************************/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/************************HEADER************************/
#logo {
  width: 65px;
  height: 22px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 60px;
}

.form_text {
  display: flex;
}

nav {
  display: flex;
  gap: 50px;
}

nav a {
  font-size: 16px;
  position: relative;
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  color: #0065fc;
}

nav a::before {
  content: "";
  position: absolute;
  top: -36px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0065fc;
  transition: width 0.3s ease;
}

nav a:hover::before {
  width: 100%;
}

.text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.text-second {
  margin-top: 10px;
  display: inline-block;
}

.location-text {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  margin: 25px auto 25px auto;
}
.search-button {
  font-weight: 700;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065fc;
  color: #fff;
  width: 132px;
  height: 49px;
  outline: none;
  border: none;
  font-size: 16px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  width: 50px;
  height: 49px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.icon-container i {
  font-size: 24px;
  color: #000;
}

.filter {
  font-size: 18px;
  font-weight: 700;
}

.filter-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1200px;
  margin: 10px auto 20px 0;
}

.filter-button_container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 19px;
  gap: 10px;
  width: 164px;
  height: 50px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid #dcdcdc;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button:hover {
  background-color: #7093c7;
  color: #065fe4;
  border-color: transparent;
}

.filter-button i {
  width: 22px;
  height: 17px;
  margin-right: 6px;
}

.filter-button .icon_two {
  width: 14px;
  height: 22px;
  margin-right: 4px;
}

.elipse {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.img_elipse {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.elipse_img {
  width: 24px;
  height: 24px;
}

/************************FIN HEADER************************/

/****** STARTED Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
/********************FIN Hebergements And Populaires****************************/

/*****************************************Starts Hebergements*************************************/
.hebergements {
  width: 66%;
}
.section-title-hebergements {
  margin: 0;
  font-size: 22px;
}
.card_hebergements {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 206px;
}
.card_hebergements img {
  object-fit: cover;
}

.Hébergements-title {
  margin-bottom: 31px;
}

.populaires-cards-hebergements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  max-width: 100%;
}

.populaires-cards-hebergements .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.populaires-cards-hebergements img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.populaires-cards-hebergements .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards-hebergements .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards-hebergements .card-subtitle {
  margin: 0;
}

.populaires-cards-hebergements .card-rating {
  margin-bottom: 5px;
}

.plus {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

/****************************************FIN HERGEMENT DESKTOP****************************************************************/

/*****************************************Populaires********************************************************************/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/**************************************************fin populaires************************************************************************/

/**************************************************ACTIVITES MARSEILLE************************************************************************/
.activity {
  margin: 0;
  font-size: 22px;
  margin: 80px 0 25px 30px;
}

.container_activities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.populaires-cards_activity img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vieux-Port {
  margin: 10px;
  font-size: 14px;
}
/**************************************************FIN ACTIVITES MARSEILLE************************************************************************/

/*******************************************DEBUT FOOTER*************************************************/
.footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  margin-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 15px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.footer-section ul li a:hover {
  color: #007bff;
}

/*******************************************FIN FOOTER*************************************************/

/********************************************************************************FIN DESKTOP******************************************************************/

/* Le code ci-dessous correspond à la version responsive uniquement */
/********************************************************************************START TABLETS******************************************************************/
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* HEADER TABLETS*/
  .filter-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 10px auto 20px 0;
    align-items: flex-start;
  }

  .filter-button_container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
  }

  .filter-button {
    width: 140px;
    height: 45px;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 20px;
  }

  .filter-button i {
    width: auto;
    height: auto;
    margin-right: 6px;
  }

  .filter {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
  }

  .elipse {
    font-size: 14px;
    line-height: 18px;
  }

  .img_elipse {
    margin-top: 15px;
    margin-bottom: 20px;
    gap: 8px;
  }

  .elipse_img {
    width: 20px;
    height: 20px;
  }
  /* FIN HEADER TABLETS */
  /*******************************STARTED TABLETS HEBERGEMENTS***********************************/

  .populaires-cards-hebergements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card_hebergements {
    width: 100%;
    height: auto;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }
  /**********************************FIN TABLETS HEBERGEMENTS************************************/

  /**********************************STARTED TABLETS POPULAIRES************************************/
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .vieux-Port {
    margin: 10px;
    font-size: 16px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  /**********************************FIN TABLETS POPULAIRES************************************/

  /**************************************************ACTIVITES MARSEILLE MOBILE TABLETS************************************************************************/

  .container_activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 30px;
    width: 100%;
  }

  .populaires-cards_activity img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card_activity {
    background-color: white;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 298px;
    height: 280px;
    margin: 20px auto;
  }

  /**************************************************FIN ACTIVITES MARSEILLE TABLETS************************************************************************/
  /*********************DEBUT FOOTER TABLETS****************/
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  /*********************FIN FOOTER TABLETS****************/
}

/********************************************************************************FIN TABLETS******************************************************************/

/********************************************************************************START phones******************************************************************/
/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 768px) {
  /* START MOBILE HEADER */
  /* START MOBILE HEADER */

  .section_head {
    margin: auto 30px auto 30px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 30px 0 50px 30px; */
  }

  header img {
    margin-bottom: 20px;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }

  .form_text input,
  .form_text button {
    margin: 5px auto;
  }
  .main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    position: relative;
    width: 100%;
  }

  nav a {
    font-size: 16px;
    text-align: center;
    position: relative;
  }

  nav:first-of-type a {
    margin: auto 50px auto 30px;
  }

  nav a:hover {
    color: var(--main-color);
  }

  nav a::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: width 0.3s ease;
    z-index: 2;
  }

  nav::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #deebff;
    z-index: 1;
  }

  nav a:hover::before {
    width: 250%;
    transform: translateX(-50%);
  }

  #logo {
    width: 50px;
    height: auto;
    margin-bottom: 30px;
  }

  .text {
    font-weight: 700;
    font-size: 22px;
    width: 100%;
  }

  .text-second {
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .filter-button_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
  }

  /* .filter-button {
    width: 70%;
    gap: 0;
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
  } */

  .filter-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    width: 70%;
    height: 25px;
    font-size: 12px;
  }

  .filter {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
  }

  .search-container {
    display: flex;
    justify-content: flex-start;
    margin: 25px auto 25px auto;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    width: 35px;
    min-width: 50px;
    height: 49px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
  }

  .search-button {
    width: 50px;
    height: 50px;
    background-color: #0065fc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 0;
    padding: 0;
    border-radius: 10px;
    position: relative;
  }
  /* search */
  .search-button::before {
    content: "\f002";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 16px;
    color: #feffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*  MOBILE HEADER */

  .section_head {
    margin: auto 20px auto 20px;
  }

  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 0;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
  }

  .hebergements-and-populaires section:nth-of-type(1) {
    background-color: var(--secondary-bg-color);
  }
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .populaires {
    order: 1;
  }

  .hebergements {
    order: 2;
  }

  /******************HEBERGEMENTS mobiles*****************/

  .populaires-cards-hebergements {
    display: flex;
    flex-direction: column;
  }
  .card_hebergements {
    width: 100%;
    height: auto;
  }

  .card_hebergements img {
    width: 100%;
    object-fit: cover;
  }

  .populaires-cards-hebergements .card-content {
    padding-left: 10px;
  }
  /******************FIN HEBERGEMENTS mobiles*****************/

  /******************DEBUT POPULAIRES mobiles*****************/
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  /******************FIN POPULAIRES mobiles*****************/

  /**************************************************ACTIVITES MARSEILLE MOBILE************************************************************************/

  .container_activities {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .populaires-cards_activity img {
    width: 100%;
    height: 141px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card_activity {
    background-color: white;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    height: 200px;
    margin: 20px 30px;
  }

  /**************************************************FIN ACTIVITES MARSEILLE MOBILE************************************************************************/
  /*********************DEBUT FOOTER PHONE****************/
  .footer-container {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 20px;
    align-items: flex-start;
  }
  .footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    margin-top: 60px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
  /*********************FIN FOOTER PHONE****************/
}
/********************************************************************************FIN phones******************************************************************/
